{% extends "home.html" %}
{% load static %}
{% block title %}Administración de Investigación{% endblock  %}
{% block content %}

<section id="faq" class="faq mt-5 d-flex">
  <div class="container" data-aos="fade-up">

    <div class="faq-list accordion" data-aos="fade-up">
     

        <div id="faq1"  data-bs-parent=".faq-list">
          {% for subcarpeta in subcarpetas|dictsort:"name" %}
          <p class="p_list">
            <a class="" href="{% url 'other' subcarpeta.id %}"> {{ subcarpeta.name }}</a>
          </p>
          {% endfor %}
        </div>
      
      <div>
  </div>
</section><!-- End Frequently Asked Questions Section -->


{% endblock  %}