{% extends  './home.html' %}
{% load static %}

{% block content %}

<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

      <div class="row no-gutters">
        <div class="content col-xl-5 d-flex align-items-stretch">
          <img src="{% static 'assets/img/facultad.jpg' %}" width="500" class="img-fluid" width="300" height="" alt="">
        </div>
        <div class="col-xl-7 d-flex align-items-stretch">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <h5>
                El <b>Museo de Psicología</b> reúne diversos objetos y material de la Historia de la Psicologìa, sus campos
                de Investigaciòn y desarrollo académico, y su impronta local.
                <h5>
                  El <b>Archivo Histórico</b> patrimonia y conserva diversos documentos históricos institucionales, del contexto 
                de creación de la Carrera de Psicología en el año 1958.
                El Archivo Histórico de la Facultad de Psicología, cuenta con diversos documentos institucionales y diversas 
                publicaciones científicas locales, como así también las primeras tesis de grado de la carrera son de gran valor 
                patrimonial para la reconstrucción de la memoria colectiva de la disciplina en Córdoba.
                </h5>
              </h5>
             
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section><!-- End About Section -->
{% endblock  %}