{% extends "./home.html" %}
{% load static %}
{% block content %}

<section id="faq" class="faq mt-5 d-flex">
  <div class="container" data-aos="fade-up">

    <div class="faq-list accordion" data-aos="fade-up">
     

        <div id="faq1"  data-bs-parent=".faq-list">
        <ul class = "list-inline">
          <li > 
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded' href="https://drive.google.com/drive/folders/1BgVoDd24c95Tnz_YF0KpsNVWQbN9OD4o?hl=es">Digesto</a>

            </p>
          </li>
          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded'  href="https://drive.google.com/drive/folders/11aesdk9UxbVL3_KtZrTLudHNu_U_8vM6?hl=es">Proceso electoral asamblea </a>
            </p>
          </li>
          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded' href="https://drive.google.com/drive/folders/18VBKP3M1mQF14e_cNhzFhRUjizZrjBCc?hl=es">Reglamentación </a>
            </p>
          </li>
        </ul>
         
          
        </div>
      
      <div>
  </div>
</section><!-- End Frequently Asked Questions Section -->


{% endblock  %}