{% extends "./home.html" %}
{% load static %}
{% block content %}

<section id="faq" class="faq mt-5 d-flex">
  <div class="container" data-aos="fade-up">

    <div class="faq-list accordion" data-aos="fade-up">
     

        <div id="faq1"  data-bs-parent=".faq-list">
        <div class='row'>
            <div class="col-md-6">
                <ul class="list-unstyled">
          <li > 
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded' href="https://drive.google.com/drive/folders/1W8yLVnGlLGr6TjKmZo7wHvRspFmKaWQy?hl=es">Dictámenes trabajos final licenciatura </a>

            </p>
          </li>
          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded'  href="https://drive.google.com/drive/folders/1DcHt1XUA1Xlo-TjzsHt21-revyyVPfB4?hl=es">Practicas e investigación </a>
            </p>
          </li>
          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded' href="https://drive.google.com/drive/folders/1298d97CKjDepVFN_MvQbcaeVM110UzKK?hl=es">Trabajo de investigación docente </a>
            </p>
          </li>
        </ul>
    
    </div>
    <div class="col-md-6">
        <ul class="list-unstyled">
          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded'  href="https://drive.google.com/drive/folders/13HNha04zS7zaxNWZjnGIOAEbORggSkT8?hl=es">Trabajos de investigación por cátedras  </a>
            </p>
          </li>
          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded'  href="https://drive.google.com/drive/folders/1EePvCbYdrhZ4Xo7135KAkzH6rBoW0Ocg?hl=es">Trabajos finales de lcenciatura  </a>
            </p>
          </li>
        </ul>
    </ul>
</div>
</div>  
        </div>
      
      <div>
  </div>
</section><!-- End Frequently Asked Questions Section -->


{% endblock  %}