{% extends "./home.html" %}
{% load static %}
{% block content  %}
<section class="mt-3">
     <ul class="lista-imagenes">
        {% for archivo in archivos %}
          {% if archivo.name %}
            <li class="imagen">
        <a href="https://drive.google.com/uc?export=view&id={{ archivo.id }}" target="_blank"> 

                <i class="fa-sharp fa-solid fa-image"></i> 
               {{ archivo.name }}"
        </a>
            </li>
          {% else %}
            <li>{{ archivo.name }}</li>
          {% endif %}
        {% endfor %}
      </ul>
     
 
      
</section>
{% endblock  %}