{% extends "../home.html" %}
{% load static %}
{% block content %}

<section id="faq" class="faq mt-5 d-flex">
  <div class="container" data-aos="fade-up">

    <div class="faq-list accordion" data-aos="fade-up">
        <div class="row">
            <!-- Primera columna -->
            <div class="col-md-6">
           
        
           
        <ul class = "list-inline">
          <li > 
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded' href="https://drive.google.com/drive/folders/1GiN3K7YzvysA7P8pkozBGopy7xztZquj?hl=es">Prácticas</a>

            </p>
          </li>
          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded'  href="https://drive.google.com/drive/folders/1GWXKqra9WuEJLJ5566ei4-JjtacOytPo?hl=es">Cursos, congreso y eventos</a>
            </p>
          </li>
          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded' href="https://drive.google.com/drive/folders/1QL5H9wELLXFmA85GBKknkK1OBBRPzkkg?hl=es">Informes de cátedra</a>
            </p>
          </li>
          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded' href="https://drive.google.com/drive/folders/1uo9_XhIKUe7zV_8e7XTKRsqaWwQIIOJe?hl=es">Mesa de Examen, plan de estudio, comisión curricular</a>
            </p>
          </li>
        </ul>
    </div>
    <div class="col-md-6"> 
        <ul class="list-unstyled">
          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded' href="https://drive.google.com/drive/folders/1gYQmmZ7FYI1pPK6zrjMAwUm2zWWPB67o?hl=es">Programas de materias</a>
            </p>
          </li>
          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded' href="https://drive.google.com/drive/folders/17DxnZ0glChZx0HlbKwFAL3eWs-01n6kh?hl=es">Convenio y becas</a>
            </p>
          </li>
          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded' href="https://drive.google.com/drive/folders/1h4rYTATA5-yaVwUwUvsFbSjQSSNac2nY?hl=es">Informes psicológicos</a>
            </p>
          </li>
          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded' href="https://drive.google.com/drive/folders/1farjmZY2GYO_UEoeovp1rfMPpb9EfqVb?hl=es">Notas e informes de gestión</a>
            </p>
          </li>
        </ul>
    </div>
          

    <div class="col-md-6"> 
        <ul class="list-unstyled">
       
          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded' href="https://drive.google.com/drive/folders/1HBKtsm-qPV7mDl_oluUBhloOBjZNRjtl?hl=es">Correspondencia académica </a>
            </p>
          </li>

        </ul>
    </div>
        </div>
      
      <div>
  </div>
</section><!-- End Frequently Asked Questions Section -->


{% endblock  %}