{% load static %}



  <!-- Footer -->
<footer id="footer">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 ">
 
    <div class="container d-flex justify-content-center  mx-auto">
      <a href="https://www.facebook.com/MuseodePsicologiaUNC/" target="_blank" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
 
      
      <a href="https://www.instagram.com/museodepsicologiaunc/" class="me-4 text-reset" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
  
    </div>
 
  </section>


  
</footer>
