{% load static %}
 
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a href="{% url "home" %}">
      <img src=" {% static 'assets/img/logo_mup.png' %}" width="100" height="50" class="navbar-brand" />

      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul    class="navbar-nav">
          <li  class="nav-item">
            <a id="inicio_nav" class="nav-link active" aria-current="page" href="{% url 'home' %}">Inicio</a>
          </li>
          <li  class="nav-item">
            <a  id="inicio_nav" class="nav-link" href="{% url 'about' %}">Acerca del Museo</a>
          </li>
          <li  class="nav-item">
            <a id="inicio_nav" class="nav-link" href="{% url 'contact' %}">Contacto</a>
          </li>
         
          <li id="inicio_nav"  class="nav-item dropdown">
            <a id="inicio_nav" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Archivos
            </a>
            <ul class="dropdown-menu">
              <li><a id="inicio_nav" class="dropdown-item" href="{% url 'admin' %}">Documentación histórica administrativa</a></li>
              <li><a id="inicio_nav" class="dropdown-item" href="{% url 'administracion_academica' %}">Documentación histórica académica</a></li>
              <li><a  id="inicio_nav" class="dropdown-item" href="{% url 'administracion_investigacion' %}">Documentación histórica de investigación</a></li>
              <li><a id="inicio_nav" class="dropdown-item" href="{% url 'administracion_juridica' %}">Documentación histórica jurídica, normativa</a></li>
  
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>



