{% extends "../home.html" %}
{% load static %}
{% block content %}

<section id="faq" class="faq mt-5 d-flex">
  <div class="container" data-aos="fade-up">

    <div class="faq-list accordion" data-aos="fade-up">
     

        <div id="faq1"  data-bs-parent=".faq-list">
        <ul class = "list-inline">
          <li > 
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded' href="{% url 'doc_alumnos' %}">Alumnos</a>

            </p>
          </li>
          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded'  href="{% url "doc_docentes" %}">Docente</a>
            </p>
          </li>
          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded' href="{% url "doc_compras" %}">Mantenimiento y compras</a>
            </p>
          </li>
        </ul>
         
          
        </div>
      
      <div>
  </div>
</section><!-- End Frequently Asked Questions Section -->


{% endblock  %}