{% extends "../home.html" %}
{% load static %}
{% block content %}

<section id="faq" class="faq mt-5 d-flex">
  <div class="container" data-aos="fade-up">

    <div class="faq-list accordion" data-aos="fade-up">
        <div class="row">
            <!-- Primera columna -->
            <div class="col-md-6">
           
        
           
        <ul class = "list-inline">
          <li > 
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded' href="https://drive.google.com/drive/folders/1VxjCV8SNo7691gB4YB1V6JopYvdQi9JU?hl=es">Ayudantes alumnos </a>

            </p>
          </li>
          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded'  href="https://drive.google.com/drive/folders/1cvQt982HNfoJotKhMpCL-GTh1CVKSQJL?hl=es">Certificados de alumnos </a>
            </p>
          </li>
          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded' href="https://drive.google.com/drive/folders/1hY56tR1k26sbJJawrv-uCgunLBywweTo?hl=es">Condición de alumnos y egresados </a>
            </p>
          </li>
          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded' href="https://drive.google.com/drive/folders/1vyqfJF18qzqH5lgPPT-3sPjO9FnoDbw5?hl=es">Inscripción de alumnos y egresados </a>
            </p>
          </li>
        </ul>
    </div>
    <div class="col-md-6"> 
        <ul class="list-unstyled">
          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded' href="https://drive.google.com/drive/folders/1ZjqlIP4nndCwFwWu7dfhNsoxD35JxM0H?hl=es">Notas de estudiantes </a>
            </p>
          </li>
         
         
        
        </ul>
    </div>
          

    <div class="col-md-6"> 
        <ul class="list-unstyled">
       
       

        </ul>
    </div>
        </div>
      
      <div>
  </div>
</section><!-- End Frequently Asked Questions Section -->


{% endblock  %}