{% extends "../home.html" %}
{% load static %}
{% block content %}

<section id="faq" class="faq mt-5 d-flex">
  <div class="container" data-aos="fade-up">

    <div class="faq-list accordion" data-aos="fade-up">
        <div class="row">
            <!-- Primera columna -->
            <div class="col-md-6">
           
        
           
        <ul class = "list-inline">
          <li > 
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded' href="https://drive.google.com/drive/folders/1bfV2-6_51f2OeFmrMSerY5q7C2-7r4jD?hl=es">Certificado de profesor por clases. </a>

            </p>
          </li>
          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded'  href="https://drive.google.com/drive/folders/10AA_fxRY3nTjGuJqcxqxHoppaZbEjrp6?hl=es">Certificado recibido </a>
            </p>
          </li>
          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded' href="https://drive.google.com/drive/folders/1oMAZeBO4Q5q9FmvXskA_XEybtvHnRagD?hl=es">Certificados enviados </a>
            </p>
          </li>
          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded' href="https://drive.google.com/drive/folders/14FB3ccRkQUT1AyorZLBDvd-HmqkxU2BQ?hl=es">Concurso </a>
            </p>
          </li>
        </ul>
    </div>
    <div class="col-md-6"> 
        <ul class="list-unstyled">
          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded' href="https://drive.google.com/drive/folders/1GwugDl7yMbwNQoy4UDehSignvL6LuH2i?hl=es">Constancias y certificados </a>
            </p>
          </li>
          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded' href="https://drive.google.com/drive/folders/12iJPi84F1OPN0yDfnRjI-qXsOh1dy4DO?hl=es">Curriculum Vitae docente</a>
            </p>
          </li>
    
          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded' href="https://drive.google.com/drive/folders/1f3qJviBGyDJ8tTbRtidXMVboFKHIK7_A?hl=es">Nómina de profesores </a>
            </p>
          </li>
        </ul>
    </div>
          

    <div class="col-md-6"> 
        <ul class="list-unstyled">
       
          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded' href="https://drive.google.com/drive/folders/1KwCSSWvgFBOGQ_MF_eFujow-aJcfKAXr?hl=es">Notas docente </a>
            </p>
          </li>

          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded' href="https://drive.google.com/drive/folders/1oBvXaq2reE10Wh962gT6klz_EeKQBO31?hl=es">Renuncias, sanciones y licencias docentes </a>
            </p>
          </li>

          <li>
            <p class="p_list">
              <img src="{% static 'assets/img/folderpng.png' %}" width="35" height="35"/>

              <a class='btn btn-primary rounded' href="https://drive.google.com/drive/folders/12vpeB666Fe0G73Xi_yBORTT1uhBB2ysr?hl=es">Solicitud de cargos  </a>
            </p>
          </li>
        </ul>

           
       
    </div>
        </div>
      
      <div>
  </div>
</section><!-- End Frequently Asked Questions Section -->


{% endblock  %}