{% extends  './home.html' %}
{% load static %}
{% block content %}

<section  class=" text-center selected_file ">
  <section class=" text-center selected_file">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image">
        <input type="submit" value="Agregar Foto">
    </form>

    <div class="row portfolio-container " data-aos="fade-up" data-aos-delay="200">
        {% for image in images %}
            <div class="col-lg-3 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img class="mt-1" width="200" height="100" src="{{ image }}" alt="{{ image }}">
                </div>
            </div>
        {% endfor %}
    </div>
</section>



{% endblock  %}
