{% extends  './home.html' %}}
{% load static %}

{% block content  %}

<section id="hero" class="d-flex align-items-center ">

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row">
        <div class="col-xl-6">
          <h1>Universidad Nacional de Córdoba</h1>
          <h2>Formando mentes, transformando vidas: descubre el poder de la psicología en la Facultad de Psicología.</h2>
          <a href=" {% url 'about' %}" class="btn-get-started scrollto">Conócenos</a>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->



{% endblock  %}