{% load static %}
<footer id="footer">



    <div class="container d-flex justify-content-center py-3">

        <div class="text-center">
            <div class="social-links pt-1">
                <a href="https://twitter.com/FacultadPsi_UNC" target="blank_" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/FacuPsicologiaUNC" target="blank_" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/museodepsicologiaunc/?hl=es" target="blank_" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.youtube.com/user/comunicacionpsicounc" target="blank_" class="google-plus"><i class="bi bi-youtube"></i></a>
                
            </div>
        </div>
    
    </div>
    
  </footer><!-- End Footer -->